In [18]:
import numpy as np
import pandas as pd
from io import StringIO
from sklearn.preprocessing import Imputer

In [19]:
csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
9.0,10.0,11.0,
'''

In [20]:
df=pd.read_csv(StringIO(csv_data))

In [21]:
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN

In [22]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [23]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [30]:
imr=Imputer(strategy="mean")

In [31]:
imr=imr.fit(df.values)

In [32]:
data= imr.transform(df.values)

In [33]:
data

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [ 9., 10., 11.,  6.]])

In [34]:
df_cat = pd.DataFrame(data = 
                     [['green','M',10.1,'class1'],
                      ['blue','L',20.1,'class2'],
                      ['white','M',30.1,'class1']])
df_cat.columns = ['color','size','price','classlabel']

In [35]:
df_cat

   color size  price classlabel
0  green    M   10.1     class1
1   blue    L   20.1     class2
2  white    M   30.1     class1

In [36]:
size_mapping={'M':1,'L':2}

In [37]:
df_cat['size']=df_cat['size'].map(size_mapping)

In [38]:
df_cat

   color  size  price classlabel
0  green     1   10.1     class1
1   blue     2   20.1     class2
2  white     1   30.1     class1

In [39]:
#Using Label Encoder
from sklearn.preprocessing import LabelEncoder

In [40]:
class_label= LabelEncoder()
df_cat['classlabel']=class_label.fit_transform(df_cat['classlabel'].values)

In [41]:
df_cat

   color  size  price  classlabel
0  green     1   10.1           0
1   blue     2   20.1           1
2  white     1   30.1           0

In [42]:
pd.get_dummies(df_cat)

   size  price  classlabel  color_blue  color_green  color_white
0     1   10.1           0           0            1            0
1     2   20.1           1           1            0            0
2     1   30.1           0           0            0            1